[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
psycopg2 = "*"
python-dotenv = "*"
configparser = "*"

[dev-packages]

[requires]
python_version = "3.8"
